src/main/mule/ci_cd/worldtimezone.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="13079863-a542-430a-86fc-cec9a371d7a9" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="worldtimezoneFlow" doc:id="28c10843-dc67-4a0c-b47e-3a1d11c014e1" >
		<http:listener doc:name="Listener" doc:id="74d50568-adc7-4bb8-8e1c-48a79064dd40" config-ref="HTTP_Listener_config" path="/timezone/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="fa079206-8450-460d-b1f4-79ef56c6f0c3" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"region" : attributes.uriParams.region,
	"city" : attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
